@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

* {
  margin:0;
  padding:0;
  border:0;
}

body {
  min-height: 100px;
  font-family: Lato;
  color: #777777;
}

h2{
  font-family: Oswald;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: rgb(4, 168, 4);
}

#logo {
  float: left;
  font-size: 280%; 
}


#menu {
  font-size: 110%;
  list-style-type: none;
  letter-spacing: 3px;
}

#logo, #menu {
  line-height: 75px;
}

#menu li {
  float: right;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
  
}

#menu a:hover{
  border-bottom: 1px solid #777777;
}

.active {
  border-bottom: 1px solid #777777;
}

.content {
  margin-top: 100px;
  width: 100%;
  height: 1200px;
  border: 1px solid #c3c3c3;
  display: flex;
  
}

.box {
  width: 75%;
  height: 400px;
  align-self: center;
  
}

#col {
  flex-direction: column;
}


.red {
  padding-top: 1em;
  background-color: red;
  text-align: center;
  font-size: 25px;
  color: black;
  
}

.lightblue {
  padding-top: 2em;
  background-color: lightblue;
  text-align: center;
  font-size: 25px;
  color: black;
  
}

.yellow {
  padding-top: 2em;
  background-color: yellow;
  text-align: center;
  font-size: 25px;
  color: black;
  
}


.footer {
  width: 100%;
  height: 200px;
  padding-bottom: 10px;
}

  
